<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="index-page">
    <header>
        <h1>Welcome to the Home Page</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <section>
        <p>This is the home page of our website.</p>
        <h1>{{ message }}</h1>
        <button id="myButton" onclick="changeButton()">按我</button>

    </section>
</body>
</html>
